#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30rem auto;
}

.flex {
    display: flex;
}

.left-justify {
    text-align: left;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    display: block;
    margin-top: 3rem;
}

.skillBar {
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 1rem;
}

.floatLeft {
    float: left;
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

.vertical_images {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.vertical_images img {
    margin: 0.5rem 0;
}

.justify_content {
    margin: 0 2rem;
}

.intro {
    font-weight: 300;
    font-size: 1rem;
    max-width: 100%;
    padding: 2rem 2rem;
    flex: flex-wrap;
    margin-bottom: .5rem;
}

.skillBarText {
    margin-left: 4.5rem;
    flex-grow: 1;
    font-size: 0.9rem;
    font-weight: 200;
}

.skillBarTextNoIcon {
    text-align: center;
    flex-grow: 1;
    font-size: 0.9rem;
    font-weight: 200;
}

.skillBarText h2 {
    margin-bottom: 5px;
}

.mt5 {
    margin-top: .5rem;
}

.ml2 {
    margin-left: 2rem;
}

.arrow {
    border: solid red;
    border-width: 0 6px 6px 0;
    display: none;
    padding: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrowtext {
    display: none;
}

@media screen and (max-width:780px) {
    .title {
        margin-top: 0rem;
    }

    .intro {
        padding: .25rem 5rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .skillContainer {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 4rem
    }

    .skillBarText>p {
        font-size: 1.1rem;
        margin-left: 0rem;
    }
    .skillBarTextNoIcon>p {
        font-size: 1.1rem;
        margin-left: 0rem;
    }

    .flex {
        flex-direction: column;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }

    .arrow {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .arrowtext {
        display: inline-block;
        font-size: 1.25rem;

    }
}

@media screen and (max-width: 480px) {
    .title {
        margin-top: 0rem;
    }

    .skillContainer {
        display: grid;
        grid-template-columns: auto;
        margin: 1rem;
    }

    .skillBarText>h2 {
        font-size: 5vw;
    }

    .skillBarText>p {
        font-size: 3.75vw;
    }

    .skillBarTextNoIcon>p {
        font-size: 3, 25vw;
    }

    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 0.6rem;
    }

    .intro {
        font-size: 0.9rem;
        margin-left: 0.2rem;
        padding: .2rem 1.2rem;
    }

    #skills {
        margin: 8rem auto;
    }

    .arrow {
        display: inline-block;
    }

    .arrowtext {
        display: inline-block;
        font-size: 1.25rem;

    }
}