#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-top: 4rem;
}

.contactDesc {
    padding: 1rem;
    font-size: 1.1em;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}
.iconli {
    color: #0063b1;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .icongit {
    color: #eef5fb;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (max-width: 780px) {
    .contactDesc {
        font-size: 1.1em;
    }
  }
  @media (max-width: 600px) {
#contactPage {
    max-width: 30rem;
}
    .contactPageTitle {
        margin: 1.6rem 0 .3rem;
        font-size: 2rem;
    }
    .contactDesc {
        font-size: .9em;
    }
    .contactForm {
        margin-top: 0rem;
    }
    .submitBtn {
        background: white;
        border: none;
        border-radius: 0.3rem;
        margin: 1rem;
        padding: 0.5rem 2rem;
    }
    .iconli {
        margin-top: .75rem;
        font-size: 40px;
      }
      .icongit {
        margin-top: .75rem;
        font-size: 40px;
      }


}