#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: auto;
    bottom: 0; /* Stick to the bottom */
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.introContent {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 3px 3px 12px black;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;
}

.introText {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: .75rem;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: 1.75rem;
    line-height: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    width: 10rem;
    box-shadow: 3px 3px 12px black;;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.personContainer {
    width: 6rem;
    height: 8rem;
    margin-right: 1rem;
    margin-bottom: 15rem;

}

.person {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid white;
    box-shadow: 3px 3px 12px black;;

   
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:780px) {
    .btn {
        margin-top: 2.5rem;
        width: 7.5rem;
        padding: .65em;
    }
    .introContent {
        width: 80vw;
    }
    .introPara {
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 00;
        letter-spacing: 1px;
    }
    .hello {
        margin-top: 2rem;
        font-size: 2.2rem;
    }
    .personContainer {
        width: 7rem;
        height: 9rem;
        margin-right: 1rem;
        margin-bottom: 17rem;
    }
    
    .person {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
       
    }

}

@media screen and (max-width:480px) {

    .btn {
        margin-top: 2rem;
        width: 6rem;
        padding: .3em;
    }

    .introContent {
        width: 90%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    .person {
        margin: 0 0 1rem 0
    }
    .personContainer {
        margin: 0 0 6rem 0rem; /* Adjust margin for spacing */
    }

    .hello {
        font-size: 1.1rem;
    }

    .introText {
        font-size: 1.5rem;
        line-height: 1.7rem;
        margin-bottom: .5rem;
    }

    .introName {
        color: yellow;
    }

    .introPara {
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
}